<div class="modal-header">
    <h3 class="modal-title">{{'CHANGEM_TITLE' | translate}}</h3>
</div>

<div class="modal-body">
    <uib-tabset id="change-media-tabhost">
        <uib-tab ng-repeat="medium in openChangeMediaDialogCtrl.media" heading="{{medium.mediumType}}">
            <form>
                <div ng-repeat="item in medium.items">
                    <label>
                        <input type="radio" ng-model="openChangeMediaDialogCtrl.chosen_medium_label" value="{{item.id}}"> {{item.label}}
                    </label>
                </div>
                <input type="radio" ng-model="openChangeMediaDialogCtrl.chosen_medium_label" value=""> <b>* Empty Drive *</b>
            </form>
        </uib-tab>
    </uib-tabset>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="openChangeMediaDialogCtrl.changeMedium(openChangeMediaDialogCtrl.chosen_medium_label); " ng-disabled="openChangeMediaDialogCtrl.isChangeMediaSubmitting">{{'CHANGEM_OK' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="$close()">{{'CHANGEM_CANCEL' | translate}}</button>
</div>
